body {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
  background-color:#EFEFEF;
}

#app {
  width:100%;
  /*margin:auto;*/
  margin-top:10px;
  margin-left: 20px;
}

#calendar {
  border-radius: 8px;
  height:70%;
  width:70%;
  border:2px solid black;
  display: inline-block;
}
#calApp {
  width:100%;
}
#dates {
  margin-top: 16px;
}
#dates > div {
  width: calc(100%/7);
  float:left;
}

#dates > div ul {
    min-height: 300px;
    width: 100%;
    border: 1px solid black;
    border-left: 0;
}
#dates > div > ul > li {
  text-align:center;
  margin-bottom: 50%;
  margin-bottom: 100px;
  border:1px solid black;
}
#dates p {
  text-align:center;
}
#dates p, #dates li {
  color:black;
}
#header {
  width:100%;
  background:#01579b;
  margin-left: 0;
  height: 20%;
  color:white;
  padding-top:20px;
  font-size: 40px;
  /*padding-bottom: 5px;*/
  text-align:center;
}
#header p {
  background:#01579b;
  width:100%;
  /*float:left;*/
  text-align:center;
  height:100%;
  margin-bottom: 0px;
  margin-top:0px;
  padding-bottom:24px;
}

.nopaddingmargin {
  margin: 0;
  padding:0;
  text-align: center;
}
.nopaddingmargin div {
  height: 90px;
}
.weekName {
  text-align:center;
  margin-top: 0px;
}

.well {
  text-align: center;
}

.tasklist {
  display: none;
  border:1px solid gray;
  height:100%;
}
.inputTasks {
  margin-top: 10px;
}

.inputForm {
  display: inline-block;
  width: 100%;
  float:right;
  border:1px solid gray;
  padding-bottom: 10px;
  height:25%;
}
.tasks-description {
  font-size: .8em;
}

#calTasks {
  width:25%;
  /*float:right;*/
  display: inline-block;
  height:70%;
  padding-left: -30px
}
.nopaddingmargin .today {
  background:#FF3B3F;
}

p.event {
  margin-top: -125px;
  padding-left: 20px;
  display: inline-block;
}

.righttasks {
  border-radius: 8px;
  width: 90%;
  float:right;
  /*padding-left: 10px;*/
  background-color: #CFD8DC;
  /*margin-left: -50px;*/
}
.singleTask {
  width:100%;
  /*margin-left: -5px;*/
/*  padding-top: 5px;
  padding-bottom: 5px;*/
  padding: 12px 0;
}


ul {
  list-style:none;
}
label{
  display: inline-block;
  float: left;
  clear: left;
  width:20%;
  text-align: left;
  padding-bottom: 5px;
}
input {
  display: inline-block;
  float: left;
  padding-bottom: 5px;
}

.nopaddingmargin li {
  border-right: 0 !important;
  border-left: 0 !important;
  background: #929292;
  color: #e4e4e4 !important;
  margin: 0% 0% 100% 0%;
}

.nopaddingmargin li:first-of-type {
  border-top:0 !important;
}

label {
  padding:  0 0 0 12px;
  margin: 0 !important;
}

.task-title {

}
.task-desc {

}

.theday {

}

.taskList div .tasks {
  padding
}

.tasklist div:last-of-type .tasks * {
  border-width: 0 !important;
}

.tasklist div br {
  display:none;
}

h2 {
  padding: 0 0 0 12px;
}

* {
  vertical-align: top;
}
form button {
  margin: 0 0 0 12px;
}

form label {
  line-height:30px;
  width:30%;
}
form input {
  width:50%;
  margin-right:20%;
  padding-left:8px;
}
.inputForm.righttasks {
  margin-top:24px;
}

.nopaddingmargin:last-of-type .nopaddingmargin {
  border-right: 0 !important;
}
.nopaddingmargin li:nth-of-type(6) < ul {
  background:yellow;
}

input {
  margin-bottom: 4px !important;
}

.singleTask label {
  width:20%;
}